* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2eee9;
  font: normal 13px/1.5 'sans-serif';
  color: #333;
}

.wrapper {
  width: 705px;
  margin: 20px auto;
  padding: 20px;
}

.carts {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

h1 {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 4px 20px;
  float: left;
}

.clear {
  clear: both;
}

.items {
  display: block;
  margin: 20px 0;
}

.item {
  background-color: #fff;
  float: left;
  margin: 0 10px 10px 0;
  width: 205px;
  padding: 10px;
  height: 310px;
}

.item img {
  display: block;
  margin: auto;
}

h2 {
  font-size: 16px;
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
  padding: 10px 0;
}

button {
  border: none;
  border-radius: 8px;
  padding: 4px 14px;
  background-color: #00a29e;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
  margin: 10px 0 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.icons:hover {
  cursor: pointer;
}

button:hover {
  background-color: #00c6c2;
}

button:active {
  background-color: #005857;
}

span {
  float: right;
}

.hidden {
  display: none;
}

.shopping-cart {
  display: inline-block;
  background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png')
    no-repeat 0 0;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}

.free-shipping-icon {
  color: #fff;
  font-size: 13px;
  background: #212529;
  padding: 2px 6px;
  border-radius: 8px;
  margin-top: 10px;
  float: left;
}

.category {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #00a29e;
  color: #00a29e;
  padding: 6px;
}

p,
.price {
  height: 20px;
}

/* cart layer */
#cart-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21252940;
}

#cart-layer_inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #fff;
}

#cart-layer_inner > h2 {
  font-size: large;
  padding: 16px;
  margin-bottom: 16px;
}

#cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
}

#cart-list .cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #00585760;
  border-radius: 8px;
  padding: 16px;
}

#cart-list .cart-item > .name {
  width: 100%;
  font-size: 14px;
  margin-bottom: 8px;
}

#cart-list .cart-item > .category {
  width: 24px;
  height: 24px;
}

#cart-list .cart-item > .price {
  width: 20%;
  font-weight: 700;
}
